# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Environment variables and secrets
.env
.env.local
*.env

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/

# Java
*.class

# Others
/bin/
/build/
/out/
